.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 450px;
    caret-color:white;
    padding: 0 10px;
    line-height: 40px;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
    color: #223;
}

.quiz-hover:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px white;
}