<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Login to Quizzard </title>
</head>

<body>
    <div class="container-fluid login-container d-flex justify-content-center" style="height: 100vh;background-color: #223;">
        <div class="col-md-4 px-5">
            <div class="card shadow bg-light" style="margin-top: 30%;">
                <div class="card-header bg-primary text-center">
                    <h4 class="mb-0 text-white"> Login to Quizzard </h4>    
                </div>
                <div class="card-body px-3">
                    <form action="/login" method="POST" id="login-form" th:action="@{/login}" th:object="${user}">
                        <div class="btn-center">
                            <small th:if="${error}" th:text="${errormessage}" class="text-danger"> </small>
                        </div>
                        <div class="btn-center">
                            <small th:if="${success}" th:text="${successmessage}" class="text-success"> </small>
                        </div>
                        <div class="row px-3 py-3">
                            <label class="mb-1">
                                <h6 class="mb-0">Email Address</h6>
                            </label>
                            <input class="mb-1 form-control form-control-sm" type="text" id="email" name="email" th:field="*{email}" placeholder="Enter a valid email address">
                            <small id="email-error" class="text-danger"></small>
                        </div>
                        <div class="row px-3 py-3">
                            <label class="mb-1">
                                <h6 class="mb-1">Password</h6>
                            </label>
                            <input class="mb-1 form-control form-control-sm" type="password" id="password" name="password" th:field="*{password}" placeholder="Enter password">
                            <small id="password-error" class="mb-1 text-danger"></small>
                        </div>
                        <div class="row px-3 mb-2">
                            <a href="/forgotPassword" class="ml-auto mb-0"><small>Forgot Password?</small> </a>
                        </div>
                        <div class="col-md-5 m-0 p-0">
                            <button type="submit" class="btn btn-block bg-primary rounded text-white text-center">Login</button>
                        </div>
                        <div class="row my-2 px-3"> <small> Don't have an account ? <a  href="/register"class="text-register ">Register</a></small> </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
    
    <script>
        const email = document.getElementById('email');
        const password = document.getElementById('password');
        const form = document.getElementById('login-form');
        const EmailError = document.getElementById('email-error');
        const PasswordError = document.getElementById('password-error')

        form.addEventListener('submit', (e) => {
            let Emailmessages = [];
            let Passwordmessages = [];

            if (email.value === '' || email.value === null) {
                Emailmessages.push('Email is required')
            } else if (!validateEmail(email.value)) {
                Emailmessages.push('Invalid email format')
            }
            if (password.value === '' || password.value === null) {
                Passwordmessages.push('Password is required')
            } else if (password.value.length < 6) {
                Passwordmessages.push('Invalid password')
            }

            if (Emailmessages.length > 0 || Passwordmessages.length > 0) {
                e.preventDefault();
                EmailError.innerText = Emailmessages.join(',');
                PasswordError.innerText = Passwordmessages.join(',');
            }

        })

        function validateEmail(email) {
            const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            console.log(re.test(String(email).toLowerCase()));
            return re.test(String(email).toLowerCase());
        }
    </script>
</body>

</html>