<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org/">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="css/addquiz.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <title> Quizzard </title>
  </head>
  <body onload="onLoad()">
    
    <div class="container-fluid p-0 m-0" >
      <nav class="navbar navbar-expand-lg navbar-light bg-light " >
          <div class="container">
              <a class="navbar-brand pr-5" href="/">
                  <img src="images/logo2.png" alt="logo" style="max-width: 80px;">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item active pr-3">
                          <a class="nav-link text-muted" href="/home"><i class="fas fa-home pr-1"></i> Home</a>
                      </li>
                      <li class="nav-item pr-3">
                      <a class="nav-link" href="/activity"> <i class="fas fa-history pr-1"></i> activity </a>
                      </li>
                  </ul>

                  <ul class="navbar-nav ml-auto ">
                      <li class="nav-item active pr-3">
                          <div class="row">
                              <img class="rounded-circle" style="max-width: 40px;height:40px"src="https://mdbootstrap.com/img/Photos/Avatars/img (27).jpg" alt="user">
                              <a class="nav-link" href="#"> <strong> Sample User </strong> </a>    
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
    </div>
    <div class="container-fluid p-0 m-0" style="height: 100vh;background-color: #223;">
      <!-- <h1>Hello world</h1> -->
      <div class="addquiz-card">
        
          <h3 class="addquiz-header">Create Your quiz in Quizzard</h3>
          <form class="form" action="#" th:action="@{/addquiz}" th:object="${quiz}" method="post">
            <div class="form-group row form-group-1">
                
                <div class="col-md-8">
                    <label for="exampleInputPassword1">Select Your Quiz Category</label>
                    <select class="custom-select" id="quizeCategory" th:field="*{quizeCategory}" required onchange="changedisblity(event)">
                        <option selected th:value="''" th:text="Choose..."></option>
                        <option th:value="'Maths'" th:text="Maths">Maths</option>
                        <option th:value="'Science'" th:text="Science">Science</option>
                        <option th:value="'Art'" th:text="Art">Art</option>
                        <option th:value="'IT'" th:text="IT">IT</option>
                        <option th:value="'other'" th:text="other">other</option>
                    </select>
                </div >
                <div class="col-md-4">
                    <label for="othertype" style="color: white;">a</label>
                    <input type="text" class="form-control" id="othertype" placeholder="Enter Type" th:field="*{other}" disabled >      
                </div>     
              </div>
            
            <div class="form-group form-group-1">
              <label for="quizname">Quiz Name</label>
              <input type="text" class="form-control" id="quizname" placeholder="Ex:Myquize" th:field="*{quizName}" required>
            </div>
            
            <div class="btn-center">
              <small th:if="${error}" th:text="'Something went wrong please try again'" class="text-danger"> </small>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
            
          </form>
      </div>
    </div>  
    <script src="javascript/addquize.js"></script>
  </body>
</html>