<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org/">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d43d952765.js" crossorigin="anonymous"></script>
    <title> Quizzard - Home </title>
  </head>
  <body style="font-family: 'Roboto', sans-serif;" >
    <div class="container-fluid p-0 m-0" style="height: 100vh;background-color: #223;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand pr-5" href="/">
                    <img src="images/logo2.png" alt="logo" style="max-width: 80px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active pr-3">
                        <a class="nav-link text-muted" href="/home"><i class="fas fa-home pr-1"></i> Home</a>
                    </li>
                    <li class="nav-item pr-3">
                    <a class="nav-link" href="/activity"> <i class="fas fa-history pr-1"></i> activity </a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item active pr-3">
                        <div class="row">
                            <img class="rounded-circle" style="max-width: 40px;height:40px"src="https://mdbootstrap.com/img/Photos/Avatars/img (27).jpg" alt="user">
                            <a class="nav-link" href="#"> <strong> Sample User </strong> </a>    
                        </div>
                    </li>
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
                </div>
            </div>
        </nav>

        <div id="wrapper" class="wrapper-content" >
            <div id="sidebar-wrapper" class="bg-dark">
                <ul class="sidebar-nav">
                    <li class="pt-3">
                        <a href="/admin/users"><i class="fas fa-home pr-2"></i>Dashboard</a>
                        <hr class="content-center" style="width:75%;background : #555">
                    </li>
                    <li>
                        <a href="/admin/category"><i class="fas fa-chart-bar pr-2"></i>Analysis</a>
                        <hr class="content-center" style="width:75%;background : #555">
                    </li>
                    <li>
                        <div class="p-3">
                            <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#exampleModalCenter">
                                <h6 class="pt-2"> <i class="far fa-edit pr-2"></i> write post <h6>
                            </button>
                        </div>
    
                    </li>
                </ul>
            </div>
        </div>





        <div class="d-flex justify-content-center px-5 pt-3">
            <div class="col-lg-6">
                <div class="table-responsive">
                    <table class="table table-hover mb-0 text-center text-white" style=" border-collapse: collapse;">
                        <thead>
                            <tr>
                                <th>User Name </th>
                                <th>E-mail</th>
                                <th>User Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr th:each="users : ${userList}">
                                <td th:text="${users.userName}"> </td>
                                <td th:text="${users.email}"> </td>
                                <td th:text="${users.userType}"> </td>
                                <td>
                                    <ul class="list-inline m-0">
                                        <li class="list-inline-item">
                                            <a th:href="${'/profile/'+users.userID}"><button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-table"></i></button></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href=""><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a th:href="${'/admin/user/delete/'+users.userID}"><button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>


                <!-- <div th:each="users : ${userList}">
                    <h3 class="text-white" th:text="${users.userName}"></h3>
                </div>
                <div th:each="quizzes : ${quizList}">
                    <h3 class="text-white" th:text="${quizzes.quizName}"></h3>
                </div> -->
            </div>
        </div>
        <!-- <div class="container pt-2">
            <h3 class="text-white pt-3"> Category Here! </h3>
            <div class="row">
                <div class="col-md-3 p-3" data-toggle="modal" data-target="#quiz-card">
                    <div class="card shadow  quiz-hover">
                        <div class="card header">
                            <img src="./images/back2.jpg" style="width:100%;height: auto;" alt="">
                        </div>
                        <div class="card-body bg info">
                            <h5 class="text-center"> Title Comes here</h5>
                        </div>
                    </div>      
                </div>
                <div class="col-md-3 p-3" data-toggle="modal" data-target="#quiz-card">
                    <div class="card shadow  quiz-hover">
                        <div class="card header">
                            <img src="./images/back2.jpg" style="width:100%;height: auto;" alt="">
                        </div>
                        <div class="card-body bg info">
                            <h5 class="text-center"> Title Comes here</h5>
                        </div>
                    </div>      
                </div>
                <div class="col-md-3 p-3" data-toggle="modal" data-target="#quiz-card">
                    <div class="card shadow  quiz-hover">
                        <div class="card header">
                            <img src="./images/back2.jpg" style="width:100%;height: auto;" alt="">
                        </div>
                        <div class="card-body bg info">
                            <h5 class="text-center"> Title Comes here</h5>
                        </div>
                    </div>      
                </div>
                <div class="col-md-3 p-3" data-toggle="modal" data-target="#quiz-card">
                    <div class="card shadow  quiz-hover">
                        <div class="card header">
                            <img src="./images/back2.jpg" style="width:100%;height: auto;" alt="">
                        </div>
                        <div class="card-body bg info">
                            <h5 class="text-center"> Title Comes here</h5>
                        </div>
                    </div>      
                </div>
            </div>

            <h3 class="text-white pt-3"> Category Here! </h3>
            <div class="row">
                <div class="col-md-3 p-3" data-toggle="modal" data-target="#quiz-card">
                    <div class="card shadow  quiz-hover">
                        <div class="card header">
                            <img src="./images/back2.jpg" style="width:100%;height: auto;" alt="">
                        </div>
                        <div class="card-body bg info">
                            <h5 class="text-center"> Title Comes here</h5>
                        </div>
                    </div>      
                </div>
                <div class="col-md-3 p-3" data-toggle="modal" data-target="#quiz-card">
                    <div class="card shadow  quiz-hover">
                        <div class="card header">
                            <img src="./images/back2.jpg" style="width:100%;height: auto;" alt="">
                        </div>
                        <div class="card-body bg info">
                            <h5 class="text-center"> Title Comes here</h5>
                        </div>
                    </div>      
                </div>
                <div class="col-md-3 p-3" data-toggle="modal" data-target="#quiz-card">
                    <div class="card shadow  quiz-hover">
                        <div class="card header">
                            <img src="./images/back2.jpg" style="width:100%;height: auto;" alt="">
                        </div>
                        <div class="card-body bg info">
                            <h5 class="text-center"> Title Comes here</h5>
                        </div>
                    </div>      
                </div>
                <div class="col-md-3 p-3" data-toggle="modal" data-target="#quiz-card">
                    <div class="card shadow  quiz-hover">
                        <div class="card header">
                            <img src="./images/back2.jpg" style="width:100%;height: auto;" alt="">
                        </div>
                        <div class="card-body bg info">
                            <h5 class="text-center"> Title Comes here</h5>
                        </div>
                    </div>      
                </div>
            </div>

            <div class="modal fade" id="quiz-card" tabindex="-1" role="dialog" aria-labelledby="quiz-cardTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <img src="./images/back2.jpg" style="width:100%;height: auto;" alt="">
                        </div>
                        <div class="modal-body">
                            <h5 class="text-center"> Title Comes here</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Start Quiz</button>
                            <button type="button" class="btn btn-danger " data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
    </div>  
  </body>
</html>